.title{
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding-bottom: .25rem;
  border-bottom: 1px solid #e6e6e6;
}

.value {
  font-weight: bold;
  text-align: center;
  margin: 1.2rem 0 0;
}
